@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #ffffff;
}

.header{
    background-image: radial-gradient(rgba(119,119,119,0.5), rgba(17,17,17));
}
.button{
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 15px;
    border: 1px solid #ffffff;
    border-radius: 20px;
}
.button:hover {
    background-color: #E6533C;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}


/* header parts starts here  */
.container{
    max-width: 90%;
    margin: 0 auto;
 
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    font-size: 20px;
}
.left{
    color: #E6533C;
}
.right{
    
}
.mobilehide{
    display: none;
}

/* header parts ends here  */
/* banner parts starts here  */
.banner{
    margin-top: 50px;
}
.bannerleft h1{
  margin: 15px 0;
}

.bannerleftpara{
    font-size: 10px;
    color: rgb(32, 31, 31);
    margin-bottom: 15px;
}

.shape{
    font-family: "Dancing Script", serif;
    font-size: 60px;
}

.bannerright{
    background-image: url("./images/Images 2.png");
    width: 359px;
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: rgb(32, 31, 31);;
    
}



.div1{
    width: 193px;
    height: 98px;
    background-color: rgb(128, 128, 128,0.5 );
    font-size: 15px;
    color: rgb(32, 31, 31);;
    text-align: left;
    padding: 20px 20px;
    border-radius: 20px;
    position: absolute;
    top: 15%;
    left: 55%;

}
.div1 h1{
    color: #ffffff;
}   

.div2{

width: 193px;
height: 98px;
background-color: rgb(128, 128, 128,0.5 );
font-size: 15px;
color: rgb(32, 31, 31);;
text-align: left;
padding: 20px 20px;
border-radius: 20px;
position: absolute;
top: 65%;
left: -4%;

}
.icon{
    background-color: #E6533C ;
    height: 30px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.innerdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
   
}
.innerdiv h1{
    color: #ffffff;
}


/* banner parts ends here */
/* change habbit section starts here   */
.changehabit{
    margin-top: 40px;
}
.changehabitcontent>h1{
    text-align: center;
    margin-bottom: 5px;
    font-size: 3.2rem;
    font-weight: bold;
}
.changehabitcontent>p{
    text-align: center;
    font-size: 1.2rem;
    color: rgb(108, 108, 108);
}

.events{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    
}
.event{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.event img{

    border-radius: 50%;
}
.event h1{
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
}

/* change habbit section ends here   */




/* CODE FOR MOBILE VIEW  */

/* CODE FOR DESKTOP VIEW  */


@media (min-width: 426px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-family: 'Poppins', sans-serif;
        background-color: #000000;
        color: #ffffff;
    }
    .button:hover {
        background-color: #E6533C;
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 20px;
        text-decoration: none;
    }

    .left{
        font-size: 30px;
    }
    .mobilehide {
        display: flex;
    }
    .mobilehide li{
        list-style: none;
        margin-left: 2px;
        padding: 5px 0;

    }
    .mobilehide li a{
        text-decoration: none;
        color: #ffffff;
        padding: 5px 20px;
    }
    .mobilehide li a:hover{
        background-color: #E6533C;
        border-radius: 20px;
        font-weight: bold;
    }
    .desktophide{
        display: none;
    }
    .right{
        border: 1px solid rgb(46, 46, 48);
        border-radius:20px ;
    }


    /* banner section starts here  */
 
    .banner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .div1{
        
        top: 20%;
        left: 60%;
    }
    .div2{
        top: 75%;
        left: -30%;
    }

    /* banner section ends here  */

    /* change habit section starts here    */
.events{
    flex-direction: row;
}

    
    /* change habit section ends here    */



}